---
---
<div class="sky-bg-layer">
  <div class="sky-gradient"></div>
  <div class="sky-cloud cloud-xl" style="top: 8%; animation-duration: 90s; animation-delay: 0s;">
    <span class="cp cp1"></span><span class="cp cp2"></span><span class="cp cp3"></span><span class="cp cp4"></span>
  </div>
  <div class="sky-cloud cloud-lg" style="top: 28%; animation-duration: 70s; animation-delay: -25s;">
    <span class="cp cp1"></span><span class="cp cp2"></span><span class="cp cp3"></span>
  </div>
  <div class="sky-cloud cloud-md" style="top: 15%; animation-duration: 55s; animation-delay: -40s;">
    <span class="cp cp1"></span><span class="cp cp2"></span><span class="cp cp3"></span>
  </div>
  <div class="sky-cloud cloud-sm" style="top: 50%; animation-duration: 45s; animation-delay: -10s;">
    <span class="cp cp1"></span><span class="cp cp2"></span>
  </div>
  <div class="sky-cloud cloud-lg" style="top: 38%; animation-duration: 80s; animation-delay: -55s;">
    <span class="cp cp1"></span><span class="cp cp2"></span><span class="cp cp3"></span>
  </div>
  <div class="sky-cloud cloud-sm" style="top: 65%; animation-duration: 38s; animation-delay: -20s;">
    <span class="cp cp1"></span><span class="cp cp2"></span>
  </div>
  <div class="sky-cloud cloud-md" style="top: 75%; animation-duration: 62s; animation-delay: -35s;">
    <span class="cp cp1"></span><span class="cp cp2"></span><span class="cp cp3"></span>
  </div>
  <div class="sky-cloud cloud-xl" style="top: 55%; animation-duration: 100s; animation-delay: -60s;">
    <span class="cp cp1"></span><span class="cp cp2"></span><span class="cp cp3"></span><span class="cp cp4"></span>
  </div>
</div>
